

::-webkit-input-placeholder { /* Chrome */
	color: #ffffff ;
	opacity: 0.3 ;
}

body {

    background-color: #ffaaaa ;

	/* Text font */
    color: #444444 ;
	font-family: "Anonymous Pro", sans-serif ; /* Primary font and back-ups */
	  font-style: normal ; /* normal, italic, or oblique */
	  font-weight: normal ; /* normal or bold */
      font-size: 1em ; /* 1em = 16px */
      line-height: 1.5em;
	  font-variant: normal ; /* Set to small-caps to enable all-caps text */

    -webkit-animation: fadein 2s; /* Safari and Chrome */


}

.container{
	position: absolute;
	border: 0;
	height: 85%;
	width: 75%;
	margin-left: 13%;
	margin-right: 13%;
	top: 5%;
	display: flex;
	background: url('images/fishy.gif');
	background-size: cover;
}

/* index.html */
#cont-index {
    position: relative ;
    top: 224px ;
    right: 184px ;

    width: 364px ;
    height: 220px ;
    margin: auto ;

    border: 2px solid #ffffff ;
    background-color: #ffcccc ;

}

#cont-index-links {
    position: relative ;
    bottom: 224px ;
    left: 240px ;

    width: 182px ;
    height: 224px ;
    margin: auto ;

    /* border: 2px solid #ffffff ; */
    background-color: #ffcccc ;

}

#img-box-0 {
    position: relative ;
    left: 70px ;

    width: 124px ;
    height: 220px ;
    margin: auto ;
    
    border: 2px solid #ffffff ;
}

#img {
    position: absolute ;
    width: 100% ;
    height: auto ;
    max-width:500px;
}

#s-text-index {
    /* Box position */
    position: absolute ;


    /* ------------ */
	
    /* Box size */
	padding: 6px 6px 6px 6px ; /* Space between box and text. top/right/down/left */
	width: 352px ; /* Determines the width of the box */
	/* -------- */

	/* Text and Box colour */
	  color: #b1b1b1 ;
	  border: 0px solid #ffffff ;
	  background-color: #444444 ;
	/* ------------------- */

	/* Text font */
	font-family: "Anonymous Pro", sans-serif ; /* Primary font and back-ups */
	  font-style: normal ; /* normal, italic, or oblique */
	  font-weight: normal ; /* normal or bold */
	  font-size: 1em ; /* 1em = 16px */
	  font-variant: normal ; /* Set to small-caps to enable all-caps text */

	text-align: center ;
	/* --------- */
}

/* pages */

#cont-pages {
    position: relative ;
    top: 224px ;
    right: 115px ;

    width: 498px ;
    height: 220px ;
    margin: auto ;

    border: 2px solid #ffffff ;
    background-color: #ffcccc ;

}


.desc-box-pages {
    position: absolute ;
    overflow: scroll ;

    width: 470px ;
    height: 140px ;
    margin: 20px ;

}

#links-pages {
    position: relative ;
    bottom: 0px ;
    left: 240px ;

    width: 182px ;
    height: 224px ;
    margin: auto ;

    /* border: 2px solid #ffffff ; */
    background-color: #ffcccc ;

}

#s-text-pages {
    /* Box position */
    position: absolute ;

    /* ------------ */
	
    /* Box size */
	padding: 6px 6px 6px 6px ; /* Space between box and text. top/right/down/left */
	width: 484px ; /* Determines the width of the box */
	/* -------- */

	/* Text and Box colour */
	  color: #b1b1b1 ;
	  border: 0px solid #ffffff ;
	  background-color: #444444 ;
	/* ------------------- */

	/* Text font */
	font-family: "Anonymous Pro", sans-serif ; /* Primary font and back-ups */
	  font-style: normal ; /* normal, italic, or oblique */
	  font-weight: normal ; /* normal or bold */
	  font-size: 1em ; /* 1em = 16px */
	  font-variant: normal ; /* Set to small-caps to enable all-caps text */

	text-align: center ;
	/* --------- */
}

/* Link Settings */
.link-box {
    position: absolute ;
    top: 24px ;
    left: 40px ;

    width: 60px ;
    height: 200px ;
    margin: 20px ;

    line-height: 3em;
}

#links-0 {
    top: -5px ;
}

#links-1 {
    top: -10px;
}

/* Description Settings */
.desc-box {
    position: absolute ;

    width: 340px ;
    height: 200px ;
    margin: 20px ;

}

#desc-0 {
    top: 45px ;
}


a {
	color: inherit ;
	text-decoration: none ;
    text-align: center ;
    display: block ;
    margin-top: 0px ;
}

a:hover {
    font-weight: bold ;
}

#nf {
    margin-left: 5px ;
}

#soundcloud {
    margin-left: -10px ;
}
/* ------------- */

audio {
    filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
    width: 200px;
    height: 25px;
}

/* Fade-in Settings */
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
/* ---------------- */